@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: linear-gradient(120deg, #1e90ff, #d1d1d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
